<div class="container">
  <h2 class="all-products text-center">All Products</h2>
  <br>
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
    {{#each products}}
    <div class="col-md-4">
      <div class="card">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
          <a href="/product/product-details/{{_id}}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    {{else}}
    <p>No products found.</p>
    {{/each}}
  </div>
</div>