<h2>Product Details</h2>

<img class="product-details" src="{{imageUrl}}" alt="product-details">

<h3>{{name}}</h3>
<p>Price: {{price}}</p>
<p>Description: {{description}}</p>

{{!-- <h6>Hosted by: {{owner.fullName}}</h6> --}}

<hr>

<h4>Reviews</h4>

<form action="/reviews/add-review/{{_id}}" method="post">
    <label for="comment">Add Review</label>
    <input id="comment" type="text" name="comment">
    <button type="submit">submit review</button>
</form>

<h4>Comments:</h4>

{{#if reviews}}

{{#each reviews}}

    <p>{{comment}}</p>
    <h6>- {{user.username}}</h6>

    <br>

{{/each}}

{{else}}
<P>No Reviews</P>
{{/if}}