<br />
<br />
<h2 class="product-details">Product Details</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<img class="product-details-img" src="{{imageUrl}}" alt="product-details"/>
<br>
<br>
<br>
<h3 class="name">{{name}}</h3>
<p id="price">Price: {{price}}</p>
<p id="description">Description: {{description}}</p>

<hr/>

<h4>Reviews</h4>

<form action="/reviews/add-review/{{_id}}" method="post">
  <div class="input-group mb-3">
    {{! <label for="comment" class="input-group-text">Add Review</label> }}
    <input type="text" class="form-control" id="comment" name="comment" />
    <button type="submit" class="btn btn-primary">Submit Review</button>
  </div>
</form>

<h4>Comments:</h4>

{{#if reviews}}

  {{#each reviews}}

    <p>{{comment}}</p>
    <h6>- {{user.username}}</h6>

    <br />

  {{/each}}

{{else}}
  <P>No Reviews</P>
{{/if}}